<form class="" method="POST" name="container-form" action="/admin/actions-form">
  <nav aria-label="breadcrumb margin-0">
    <ol class="breadcrumb margin-0">
      <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Admin</li>
    </ol>
  </nav>
  <div class="mt-4 ml-4 mb-4">
    <a href="/admin">Danh sách sản phẩm</a>
    <h3>Sản phẩm đã xóa</h3>
  </div>

  <div class="mt-4 ml-4 mb-4 d-flex align-items-center flex-wrap justify-content-start">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all" style="white-space: nowrap;">
        Chọn tất cả
      </label>
    </div>
    <select class="form-control form-control-sm checkbox-select-all-options" id="" name="action" required>
      <option value="">--Chọn chức năng --</option>
      <option value="restore">Khôi phục</option>
    </select>
    <button class="btn btn-primary btn-sm btn-check-all-submit disabled">Thực hiện</button>
  </div>
  <div style="max-width: 100%; overflow: auto;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">STT</th>
          <th scope="col">Tên</th>
          <th scope="col" style="white-space: nowrap;">Khối lượng</th>
          <th scope="col" style="white-space: nowrap;">Xuất sứ</th>
          <th scope="col">Giá</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each coffee}}
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="coffeeIds[]" value="{{this._id}}">
            </div>
          </td>
          <th scope="row">{{sum @index 1}}</th>
          <td style="white-space: nowrap;">{{this.name}}</td>
          <td>{{this.mass}}</td>
          <td style="min-width: 250px; max-width: 250px;">{{this.country}}</td>
          <td>{{this.price}}</td>
          <td>
            <button type="button" class="btn btn-primary">
              <a href="" class="btn-detail-text btn-restore" data-id="{{this._id}}">Khôi phục</a>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
              <a href="" class="btn-text" data-toggle="modal" data-target="#delete-info" data-id="{{this._id}}">Xóa vĩnh
                viễn</a>
            </button>
          </td>
        </tr>
        {{else}}
        <tr>
          <td>Danh sách trống.</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</form>

{{!-- Confirm modal --}}
<div class="modal fade" id="delete-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Việc xóa thông tin này không thể khôi phục. Bạn vẫn muốn xóa dữ liệu này ?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-info" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-form" method="POST"></form>
<form name="restore-form" method="POST"></form>

{{!-- Javascript get id to delete --}}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var infoId;
    var btnDeleteInfo = document.getElementById('btn-delete-info');
    var deleteForm = document.forms['delete-form'];
    var restoreForm = document.forms['restore-form'];
    var restoreBtn = $('.btn-restore');
    var coffeeId;
    var containerForm = document.forms['container-form'];
    var btnDeleteCoffee = document.getElementById('btn-delete-coffee');
    var checkboxAll = $('#checkbox-all');
    var coffeeItemCheckbox = $('input[name="coffeeIds[]"]');
    var checkedAllSubmitBtn = $('.btn-check-all-submit');
    //When dialog confirm clicked
    $('#delete-info').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      infoId = button.data('id');
    });

    btnDeleteInfo.onclick = function () {
      deleteForm.action = '/admin/' + infoId + '/force?_method=DELETE';
      deleteForm.submit();
    };

    //Restored btn click
    restoreBtn.click(function (event) {
      event.preventDefault();
      var coffeeId = $(this).data('id');
      restoreForm.action = '/admin/' + coffeeId + '/restore?_method=PATCH';
      restoreForm.submit();
    });

    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop('checked');
      coffeeItemCheckbox.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    });

    coffeeItemCheckbox.change(function () {
      var isCheckedAll = coffeeItemCheckbox.length === $('input[name="coffeeIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    });

    checkedAllSubmitBtn.on('submit', function (e) {
      var isSubmitable = !$(this).hasClass('disabled');
      if (!isSubmitable) { e.preventDefault(); }
    });

    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="coffeeIds[]"]:checked').length;
      if (checkedCount > 0) {
        checkedAllSubmitBtn.removeClass('disabled');
      } else {
        checkedAllSubmitBtn.addClass('disabled');
      }
    }
  })
</script>